*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Work Sans;
}
body{
    font-family: Work Sans;
    /* margin: 0;
    padding: 0;
    font-family: Work Sans;
    background-image: linear-gradient(rgba(0, 0, 0, 0.001),rgba(0, 0, 0, 0.767)),url("/Photos/loginwallpaper01.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow: hidden; */
}
.contact .content
{
    max-width: 800px;
    text-align: center;
    /*background-color: blue;*/
}
.contact .content .h1
{
    font-size: 36px;
    font-weight: 500;
    color: #000000;
}
.container
{
    width: 100%;
    display:grid;
    grid-template-columns: 50% 50%;
    /*justify-content: content;
    align-items: center;
    margin-top: 5px;*/
    /*background-color: green;*/
}
.container .contactInfo
{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.container .contactInfo .box
{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.container .contactInfo .box .icon
{
    min-width: 60px;
    height: 60px;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.container .contactInfo .box .text
{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #000000;
    flex-direction: column;
    font-weight:300;
}
.container .contactInfo .box .text h3
{
    font-weight: 500;
    color: #000000;
}
.contactForm
{
    width: 100%;
    padding: 20px 20px;
    background: none;
    /*background-color: red;*/
}
.contactForm h2
{
   font-size: 30px;
    color: #000000;
    font-weight: 300;
    text-align: center;
}
.contactForm .inputBox
{
    position: relative;
    width:100%;
    margin-top: 10px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea
{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #000000;
    outline: none;
    resize:none;
    /*border: 1px rgb(175, 0, 0) solid;*/
}
.contactForm .inputBox span
{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: .5s;
    color: #666;
    /*border: 1px green solid;*/
}
.contactForm .inputBox span p{
    margin-left: 5px;
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span

{
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-weight: 500;
    transform: translateY(-25px);
    margin-bottom: 100px;
}
.contactForm .inputBox input[type="submit"]
{
    width: 275px;
    background: #4E393C;
    color: #C4C4C4;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    font-size: 25px;
    align-content: center;
}
.contact{
    /*background-color: blue;*/
    height: 550px;
    width: 800px;
    position: relative;
    background: #C1BDBD;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.5);
}
.wrapper{
    display: flex;
    position: relative;
    padding: 20px;
    height: 58px;
    background: white;
   }
   .logo{
       width: 20%;
   }
   .logo h1 span{
       text-transform: uppercase;
   }
   .wrapper ul{
       width: 50%;
       list-style: none;
       /*background: blue;*/
       position: absolute;
       left: 750px;
       align-items: center;
       font-weight: 600;
      }
   .wrapper ul li{
       display: inline;
       /*margin-right: 40px;*/
       margin-left: 50px;
      }
      .wrapper ul li a{
       text-decoration: none;
       font-size: 30px;
       color: darkblue;
      }
      .wrapper ul li button{
          border-style: none;
          background-color: #4E393C;
          width: 100px;
          padding: 10.0px;
          border-radius: 3px;
          cursor: pointer;
          color: #C4C4C4;
          transform: translateY(-4px);
          /*margin: 300px;*/
          position: absolute;
      }
      .header{
        /*align-items: center;*/
          height: 100vh;
          background-image: linear-gradient(rgba(0, 0, 0, 0.001),rgba(0, 0, 0, 0.767)),url("/Photos/loginwallpaper01.jpg");
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          background-attachment: fixed;
          background-color: red;
        }
h3 .copyright{
    position: absolute;
    bottom: 0px;
   }
/* .inputBox input{
    text-indent: ch;
} */
/*@media (max-width:991px) 
{
    .contact{
             padding: 50px;
            }
    .container{
        flex-direction: column;
    }  
    .container .contactInfo
    {
        margin-bottom: 40px;
    }
    .container .contactInfo,
    .contactForm
    {
        width: 100%;
    }
}*/