*{
    margin: 0;
    padding: 0;
}
.wrapper{
    width: 1170px;
    margin: auto;
}
body{
    background-image: url("HomeWallpaper.jpg");
    background-size: cover;
    background-size: 1600px 800px ;
    position: relative;
    width: 1440px;
    height: 1024px;
}
.nav-area{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 732px;
height: 35px;
left: 543px;
top: 29px;

}
.nav-area li{
    display: block;
    padding: 10px;

}
.nav-area li a{
    font-family: Work Sans;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 35px;
text-align: center;
letter-spacing: -0.02em;
text-decoration: none;

color: #000000;

}
.login{
    display:block;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px 20px;
    text-decoration:none;
    
    position: absolute;
    left: 89.58%;
    right: 1.46%;
    top: 1.46%;
    bottom: 93.55%;
    
    background: #4E393C;
    border-radius: 5px;

    list-style-type: none;
    text-align: center;

}
.profile{
    position: absolute;
width: 292px;
height: 255px;
left: 1086px;
top: 229px;

background: url(2F4B1857.jpg);
}
.welcome{
    position: absolute;
width: 610px;
height: 260px;
left: 454px;
top: 229px;

font-family: Work Sans;
font-style: normal;
font-weight: 300;
font-size: 30px;
line-height: 35px;
letter-spacing: -0.02em;
text-align: center;

color: #000000;

}
.logo{
    position: absolute;
left: 0.15%;
right: 0%;
top: 0%;
bottom: 0%;

font-family: Work Sans;
font-style: italic;
font-weight: 800;
font-size: 40px;
line-height: 76px;
letter-spacing: -0.02em;

color: #000000;
}
.login a{
    position: static;
width: 97px;
height: 35px;
left: 16px;
top: 8px;

    font-family: Work Sans;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 35px;
text-align: center;
letter-spacing: -0.02em;

color: #000000;

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;
}
.nav-area li a:hover{
    background: #4E393C;
    color: beige ;
}
.copyright{

        display: flex;
        justify-content:start;
      
}
.socialm{
    display: flex;
    justify-content: center;
    align-items: center
    margin:center
}